<div class="row">
  <div class="col-sm-6">
    <h1>Nouveau Post</h1>
    <form [formGroup]="formPost" (ngSubmit)="savePost()">
     <div class="form-group">
        <div for="title">Title</div>
        <input type="text" id="title" class="form-control" formControlName="title"/>
      </div>
      <div class="form-group">
        <div for="content">Content</div>
        <input type="text" id="content" class="form-control" formControlName="content"/>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="formPost.invalid">Enregistrer</button>
    </form>
  </div>
</div>
